<a href="https://colab.research.google.com/github/Guiguizinho15/ENG_20242/blob/main/Atividade%201/atv_dicionario_tupla_10102024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ATIVIDADE 10/10

In [ ]:
#1

cidades = ("São Paulo", "Rio de Janeiro", "Belo Horizonte", "Salvador", "Fortaleza")
print(cidades[2])

In [ ]:
#2

numeros = (1, 2, 3, 1, 4, 1)
quantidade_de_1 = numeros.count(1)
print(f"O número 1 aparece {quantidade_de_1} vezes na tupla.")

In [ ]:
#3

animais = ('cachorro', 'gato', 'pássaro')
if 'gato' in animais:
  print("Gato está presente na tupla.")
else:
  print("Gato não está presente na tupla.")

In [ ]:
#4

meses = ('janeiro', 'fevereiro', 'março', 'abril', 'maio')
indice_abril = meses.index('abril')
print(f"O índice do mês 'abril' é: {indice_abril}")

In [ ]:
#5

coordenadas = (-23.5505, -46.6333)
latitude = coordenadas[0]
longitude = coordenadas[1]
print(f"Latitude: {latitude}")
print(f"Longitude: {longitude}")

In [ ]:
#6

carro = {
    "marca": "Fiat",
    "modelo": "Uno",
    "ano": 1995
}
print(carro["modelo"])

In [ ]:
#7

carro = {
    "marca": "Fiat",
    "modelo": "Uno",
    "ano": 1995
}
carro["cor"] = "vermelho"
print(carro)

In [ ]:
#8

pessoa = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}
del pessoa['idade']
print(pessoa)

In [ ]:
#9

produto = {
    "nome": "Camiseta",
    "preco": 29.90,
    "quantidade": 10
}
for chave, valor in produto.items():
  print(f"{chave}: {valor}")

In [9]:
#10

estudante = {'nome': 'Maria', 'curso': 'Biologia', 'ano': 2}
if 'curso' in estudante:
  print("A estudante está no curso de Biologia.")